.footer{
    background-color: $color-secondary;
    grid-column: full-start / full-end;

    padding: 8rem;
}

.nav{
    list-style: none;

    display: grid;
    // grid-template-columns: repeat(6, 1fr);  this works but below will make it responsive
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;

    &__link:link,
    &__link:visited{
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        align-items: center;
        transition: all .4s ease-in-out;   
    }

    &__link:active,
    &__link:hover{
        background-color: rgba($color: #fff, $alpha: .05);
        transform: translateY(-3px);

    }
    
}
.copyright{
    font-size: 1.4rem;
    color: $color-grey-light-1;
    margin-top: 6rem;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    width: 70%;
}

